{% load bootstrap4 %}
{% load static %}

<html lang="pt-br">

	<!--begin::Head-->
		{% include 'model-head.html' %}
	<!--end::Head-->

	<!--begin::Body-->
	<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled page-loading">
					{% include 'model-nav.html' %}		<!--begin::Content-->
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Subheader-->
						<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
							<div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
								<!--begin::Info-->
								<div class="d-flex align-items-center flex-wrap mr-1">
									<!--begin::Page Heading-->
									<div class="d-flex align-items-baseline flex-wrap mr-5">
										<!--begin::Page Title-->
										<h5 class="text-dark font-weight-bold my-1 mr-5">Extras</h5>
										<!--end::Page Title-->
								<!--begin::Breadcrumb-->
									<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm"><li class="breadcrumb-item">
										<a href="{% url 'url-index' %}" class="text-muted">Home</a>
									   </li>
										<li class="breadcrumb-item">
										  <a href="" class="text-muted">Extras</a>
										</li>
									</ul>
								<!--end::Breadcrumb-->
									</div>
									<!--end::Page Heading-->
								</div>
								<!--end::Info-->
							</div>
						</div>
						<!--end::Subheader-->
						<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container">
								<!--begin::Row-->
								<div class="row">
									<div class="col-xl-4">
										<!--begin::Card-->
										<div class="card card-custom gutter-b card-stretch">
											<!--begin::Body-->
											<div class="card-body">
												<!--begin::Info-->
												<div class="d-flex align-items-center">
													<!--begin::Pic-->
													<div class="flex-shrink-0 mr-4 symbol symbol-60 symbol-circle">
														<i class="flaticon-exclamation-1 icon-3x"></i>
													</div>
													<!--end::Pic-->
													<!--begin::Info-->
													<div class="d-flex flex-column mr-auto">
														<!--begin: Title-->
														<div class="d-flex flex-column mr-auto">
															<span  class="text-dark text-hover-primary font-size-h4 font-weight-bolder mb-1">Declaração de Rendimentos</span>
															<span class="text-muted font-weight-bold">Creates Limitless possibilities</span>
														</div>
														<!--end::Title-->
													</div>
													<!--end::Info-->
												</div>
												<!--end::Info-->
												<!--begin::Description-->
												<div class="mb-10 mt-5 font-weight-bold"> 
												<p>Normalmente solicitada pelos bancos para aprovação de linhas de crédito. </p> 
												<p>Pode ser tanto uma declaração de rendimentos do sócio/proprietário ou uma declaração das receitas da empresa. </p> 
										           
 	                                                                                        </div>		                                                                                           
												<!--end::Description-->
												</div>
											<!--end::Body-->
											<!--begin::Footer-->
											<div class="card-footer d-flex align-items-sm-center flex-wrap flex-column flex-sm-row">
												<button class="btn btn-success btn-shadow-hover font-weight-bolder w-100 py-3">Contratar</button>
											</div>
											<!--end::Footer-->
										</div>
										<!--end:: Card-->
									</div>
									<div class="col-xl-4">
										<!--begin::Card-->
										<div class="card card-custom gutter-b card-stretch">
											<!--begin::Body-->
											<div class="card-body">
												<!--begin::Info-->
												<div class="d-flex align-items-center">
													<!--begin::Pic-->
													<div class="flex-shrink-0 mr-4 symbol symbol-60 symbol-circle">
														<i class="flaticon-exclamation-1 icon-3x"></i>
													</div>
													<!--end::Pic-->
													<!--begin::Info-->
													<div class="d-flex flex-column mr-auto">
														<!--begin: Title-->
														<div class="d-flex flex-column mr-auto">
															<span class="text-dark text-hover-primary font-size-h4 font-weight-bolder mb-1">Regularização de Empresa</span>
															<span class="text-muted font-weight-bold">Creates Limitless possibilities</span>
														</div>
														<!--end::Title-->
													</div>
													<!--end::Info-->

												</div>
												<!--end::Info-->
												<!--begin::Description-->
												<div class="mb-10 mt-5 font-weight-bold">
												<p>Verificamos todas as pendências da sua empresa.</p> 
												<p>Solicitamos o parcelamento das dívidas e cumprimos com as obrigações em atraso.</p> 
										            
												</div>
												<!--end::Description-->
											</div>
											<!--end::Body-->
											<!--begin::Footer-->
											<div class="card-footer d-flex align-items-sm-center flex-wrap flex-column flex-sm-row">
												<button class="btn btn-success btn-shadow-hover font-weight-bolder w-100 py-3">Contratar</button>
											</div>
											<!--end::Footer-->
										</div>
										<!--end:: Card-->
									</div>
									<div class="col-xl-4">
										<!--begin::Card-->
										<div class="card card-custom gutter-b card-stretch">
											<!--begin::Body-->
											<div class="card-body">
												<!--begin::Info-->
												<div class="d-flex align-items-center">
													<!--begin::Pic-->
													<div class="flex-shrink-0 mr-4 symbol symbol-60 symbol-circle">
														<i class="flaticon-exclamation-1 icon-3x"></i>
													</div>
													<!--end::Pic-->
													<!--begin::Info-->
													<div class="d-flex flex-column mr-auto">
														<!--begin: Title-->
														<div class="d-flex flex-column mr-auto">
															<span class="text-dark text-hover-primary font-size-h4 font-weight-bolder mb-1">Imposto de Renda Pessoa Física</span>
															<span class="text-muted font-weight-bold">Creates Limitless possibilities</span>
														</div>
														<!--end::Title-->
													</div>
													<!--end::Info-->
												</div>
												<!--end::Info-->
												<!--begin::Description-->
												<div class="mb-10 mt-5 font-weight-bold">
												<p>Verificamos todas as pendências da sua empresa.</p> 
												<p>Solicitamos o parcelamento das dívidas e cumprimos com as obrigações em atraso.</p> 
										              	
												</div>
												<!--end::Description-->
											</div>
											<!--end::Body-->
											<!--begin::Footer-->
											<div class="card-footer d-flex align-items-sm-center flex-wrap flex-column flex-sm-row">
												<button class="btn btn-success btn-shadow-hover font-weight-bolder w-100 py-3">Contratar</button>
											</div>
											<!--end::Footer-->
										</div>
										<!--end:: Card-->
									</div>
								</div>
								<!--end::Row-->
								<!--begin::Row-->
								<div class="row">
									<div class="col-xl-4">
										<!--begin::Card-->
										<div class="card card-custom gutter-b card-stretch">
											<!--begin::Body-->
											<div class="card-body">
												<!--begin::Info-->
												<div class="d-flex align-items-center">
													<!--begin::Pic-->
													<div class="flex-shrink-0 mr-4 symbol symbol-60 symbol-circle">
														<i class="flaticon-exclamation-1 icon-3x"></i>
													</div>
													<!--end::Pic-->
													<!--begin::Info-->
													<div class="d-flex flex-column mr-auto">
														<!--begin: Title-->
														<div class="d-flex flex-column mr-auto">
															<a href="#" class="text-dark text-hover-primary font-size-h4 font-weight-bolder mb-1">2º Via do Contrato Social</a>
															<span class="text-muted font-weight-bold">Creates Limitless possibilities</span>
														</div>
														<!--end::Title-->
													</div>
													<!--end::Info-->
												
												</div>
												<!--end::Info-->
												<!--begin::Description-->
												<div class="mb-10 mt-5 font-weight-bold">I distinguish three main text objectives.First, your objective could be merely to inform people.A second be to persuade people.</div>
												<!--end::Description-->
												</div>
											<!--end::Body-->
											<!--begin::Footer-->
											<div class="card-footer d-flex align-items-sm-center flex-wrap flex-column flex-sm-row">
												<button class="btn btn-success btn-shadow-hover font-weight-bolder w-100 py-3">Contratar</button>
											</div>
											<!--end::Footer-->
										</div>
										<!--end:: Card-->
									</div>
									<div class="col-xl-4">
										<!--begin::Card-->
										<div class="card card-custom gutter-b card-stretch">
											<!--begin::Body-->
											<div class="card-body">
												<!--begin::Info-->
												<div class="d-flex align-items-center">
													<!--begin::Pic-->
													<div class="flex-shrink-0 mr-4 symbol symbol-60 symbol-circle">
														<i class="flaticon-exclamation-1 icon-3x"></i>
													</div>
													<!--end::Pic-->
													<!--begin::Info-->
													<div class="d-flex flex-column mr-auto">
														<!--begin: Title-->
														<div class="d-flex flex-column mr-auto">
															<a href="#" class="text-dark text-hover-primary font-size-h4 font-weight-bolder mb-1">Alteração Contratual</a>
															<span class="text-muted font-weight-bold">Creates Limitless possibilities</span>
														</div>
														<!--end::Title-->
													</div>
													<!--end::Info-->

												</div>
												<!--end::Info-->
												<!--begin::Description-->
												<div class="mb-10 mt-5 font-weight-bold">I distinguish three main text objectives.First, your objective could be merely to inform people.A second be to persuade people.</div>
											    
												<!--end::Description-->
											</div>
											<!--end::Body-->
											<!--begin::Footer-->
											<div class="card-footer d-flex align-items-sm-center flex-wrap flex-column flex-sm-row">
												<button class="btn btn-success btn-shadow-hover font-weight-bolder w-100 py-3">Contratar</button>
											</div>
											<!--end::Footer-->
										</div>
										<!--end:: Card-->
									</div>
									<div class="col-xl-4">
										<!--begin::Card-->
										<div class="card card-custom gutter-b card-stretch">
											<!--begin::Body-->
											<div class="card-body">
												<!--begin::Info-->
												<div class="d-flex align-items-center">
													<!--begin::Pic-->
													<div class="flex-shrink-0 mr-4 symbol symbol-60 symbol-circle">
														<i class="flaticon-exclamation-1 icon-3x"></i>
													</div>
													<!--end::Pic-->
													<!--begin::Info-->
													<div class="d-flex flex-column mr-auto">
														<!--begin: Title-->
														<div class="d-flex flex-column mr-auto">
															<a href="#" class="text-dark text-hover-primary font-size-h4 font-weight-bolder mb-1">Alteração na folha de pagamento</a>
															<span class="text-muted font-weight-bold">Creates Limitless possibilities</span>
														</div>
														<!--end::Title-->
													</div>
													<!--end::Info-->
												</div>
												<!--end::Info-->
												<!--begin::Description-->
												<div class="mb-10 mt-5 font-weight-bold">
												<p>Alteração de declaração declarados, na folha de pagamento já declarados nos anos anteriores, que já foram processados</p> 
												</div>
												<!--end::Description-->
											</div>
											<!--end::Body-->
											<!--begin::Footer-->
											<div class="card-footer d-flex align-items-sm-center flex-wrap flex-column flex-sm-row">
												<button class="btn btn-success btn-shadow-hover font-weight-bolder w-100 py-3">Contratar</button>
											</div>
											<!--end::Footer-->
										</div>
										<!--end:: Card-->
									</div>
								</div>
								<!--end::Row-->
							<!--begin::Row-->
								<div class="row">
									<div class="col-xl-4">
										<!--begin::Card-->
										<div class="card card-custom gutter-b card-stretch">
											<!--begin::Body-->
											<div class="card-body">
												<!--begin::Info-->
												<div class="d-flex align-items-center">
													<!--begin::Pic-->
													<div class="flex-shrink-0 mr-4 symbol symbol-60 symbol-circle">
														<i class="flaticon-exclamation-1 icon-3x"></i>
													</div>
													<!--end::Pic-->
													<!--begin::Info-->
													<div class="d-flex flex-column mr-auto">
														<!--begin: Title-->
														<div class="d-flex flex-column mr-auto">
															<a href="#" class="text-dark text-hover-primary font-size-h4 font-weight-bolder mb-1">Baixa na Empresa</a>
															<span class="text-muted font-weight-bold">R$1.200,00</span>
														</div>
														<!--end::Title-->
													</div>
													<!--end::Info-->
												
												</div>
												<!--end::Info-->
												<!--begin::Description-->
												<div class="mb-10 mt-5 font-weight-bold">
												<p>O serviço inclui todos os processos junto à Receita Federal, Estado e Municipio.</p>
												</div>
												<!--end::Description-->
												</div>
											<!--end::Body-->
											<!--begin::Footer-->
											<div class="card-footer d-flex align-items-sm-center flex-wrap flex-column flex-sm-row">
												<button class="btn btn-success btn-shadow-hover font-weight-bolder w-100 py-3">Contratar</button>
											</div>
											<!--end::Footer-->
										</div>
										<!--end:: Card-->
									</div>
									<div class="col-xl-4">
										<!--begin::Card-->
										<div class="card card-custom gutter-b card-stretch">
											<!--begin::Body-->
											<div class="card-body">
												<!--begin::Info-->
												<div class="d-flex align-items-center">
													<!--begin::Pic-->
													<div class="flex-shrink-0 mr-4 symbol symbol-60 symbol-circle">
														<i class="flaticon-exclamation-1 icon-3x"></i>
													</div>
													<!--end::Pic-->
													<!--begin::Info-->
													<div class="d-flex flex-column mr-auto">
														<!--begin: Title-->
														<div class="d-flex flex-column mr-auto">
															<a href="#" class="text-dark text-hover-primary font-size-h4 font-weight-bolder mb-1">Declaração de Ausência de Faturamento</a>
															<span class="text-muted font-weight-bold">R$39,00</span>
														</div>
														<!--end::Title-->
													</div>
													<!--end::Info-->

												</div>
												<!--end::Info-->
												<!--begin::Description-->
												<div class="mb-10 mt-5 font-weight-bold">I distinguish three main text objectives.First, your objective could be merely to inform people.</div>
												<!--end::Description-->
											</div>
											<!--end::Body-->
											<!--begin::Footer-->
											<div class="card-footer d-flex align-items-sm-center flex-wrap flex-column flex-sm-row">
												<button class="btn btn-success btn-shadow-hover font-weight-bolder w-100 py-3">Contratar</button>
											</div>
											<!--end::Footer-->
										</div>
										<!--end:: Card-->
									</div>
									<div class="col-xl-4">
										<!--begin::Card-->
										<div class="card card-custom gutter-b card-stretch">
											<!--begin::Body-->
											<div class="card-body">
												<!--begin::Info-->
												<div class="d-flex align-items-center">
													<!--begin::Pic-->
													<div class="flex-shrink-0 mr-4 symbol symbol-60 symbol-circle">
														<i class="flaticon-exclamation-1 icon-3x"></i>
													</div>
													<!--end::Pic-->
													<!--begin::Info-->
													<div class="d-flex flex-column mr-auto">
														<!--begin: Title-->
														<div class="d-flex flex-column mr-auto">
															<a href="#" class="text-dark text-hover-primary font-size-h4 font-weight-bolder mb-1">DECORE</a>
															<span class="text-muted font-weight-bold">R$300,00</span>
														</div>
														<!--end::Title-->
													</div>
													<!--end::Info-->
												</div>
												<!--end::Info-->
												<!--begin::Description-->
												<div class="mb-10 mt-5 font-weight-bold">I distinguish three main text objectives.First, your objective could be merely to inform people.</div>
												<!--end::Description-->
											</div>
											<!--end::Body-->
											<!--begin::Footer-->
											<div class="card-footer d-flex align-items-sm-center flex-wrap flex-column flex-sm-row">
												<button class="btn btn-success btn-shadow-hover font-weight-bolder w-100 py-3">Contratar</button>
											</div>
											<!--end::Footer-->
										</div>
										<!--end:: Card-->
									</div>
								</div>
								<!--end::Row-->
								<!--begin::Row-->
								<div class="row">
									<div class="col-xl-4">
										<!--begin::Card-->
										<div class="card card-custom gutter-b card-stretch">
											<!--begin::Body-->
											<div class="card-body">
												<!--begin::Info-->
												<div class="d-flex align-items-center">
													<!--begin::Pic-->
													<div class="flex-shrink-0 mr-4 symbol symbol-60 symbol-circle">
														<i class="flaticon-exclamation-1 icon-3x"></i>
													</div>
													<!--end::Pic-->
													<!--begin::Info-->
													<div class="d-flex flex-column mr-auto">
														<!--begin: Title-->
														<div class="d-flex flex-column mr-auto">
															<a href="#" class="text-dark text-hover-primary font-size-h4 font-weight-bolder mb-1">Consultoria Tributária</a>
															<span class="text-muted font-weight-bold">Creates Limitless possibilities</span>
														</div>
														<!--end::Title-->
													</div>
													<!--end::Info-->
												
												</div>
												<!--end::Info-->
												<!--begin::Description-->
												<div class="mb-10 mt-5 font-weight-bold">I distinguish three main text objectives.First, your objective could be merely to inform people.A second be to persuade people.</div>
												<!--end::Description-->
												</div>
											<!--end::Body-->
											<!--begin::Footer-->
											<div class="card-footer d-flex align-items-sm-center flex-wrap flex-column flex-sm-row">
												<button class="btn btn-success btn-shadow-hover font-weight-bolder w-100 py-3">Contratar</button>
											</div>
											<!--end::Footer-->
										</div>
										<!--end:: Card-->
									</div>
									<div class="col-xl-4">
										<!--begin::Card-->
										<div class="card card-custom gutter-b card-stretch">
											<!--begin::Body-->
											<div class="card-body">
												<!--begin::Info-->
												<div class="d-flex align-items-center">
													<!--begin::Pic-->
													<div class="flex-shrink-0 mr-4 symbol symbol-60 symbol-circle">
														<i class="flaticon-exclamation-1 icon-3x"></i>
													</div>
													<!--end::Pic-->
													<!--begin::Info-->
													<div class="d-flex flex-column mr-auto">
														<!--begin: Title-->
														<div class="d-flex flex-column mr-auto">
															<a href="#" class="text-dark text-hover-primary font-size-h4 font-weight-bolder mb-1">Cadastro no CPOM</a>
															<span class="text-muted font-weight-bold">R$250,00</span>
														</div>
														<!--end::Title-->
													</div>
													<!--end::Info-->

												</div>
												<!--end::Info-->
												<!--begin::Description-->
												<div class="mb-10 mt-5 font-weight-bold">I distinguish three main text objectives.First, your objective could be merely to inform people.</div>
												<!--end::Description-->
											</div>
											<!--end::Body-->
											<!--begin::Footer-->
											<div class="card-footer d-flex align-items-sm-center flex-wrap flex-column flex-sm-row">
												<button class="btn btn-success btn-shadow-hover font-weight-bolder w-100 py-3">Contratar</button>
											</div>
											<!--end::Footer-->
										</div>
										<!--end:: Card-->
									</div>
									<div class="col-xl-4">
										<!--begin::Card-->
										<div class="card card-custom gutter-b card-stretch">
											<!--begin::Body-->
											<div class="card-body">
												<!--begin::Info-->
												<div class="d-flex align-items-center">
													<!--begin::Pic-->
													<div class="flex-shrink-0 mr-4 symbol symbol-60 symbol-circle">
														<i class="flaticon-exclamation-1 icon-3x"></i>
													</div>
													<!--end::Pic-->
													<!--begin::Info-->
													<div class="d-flex flex-column mr-auto">
														<!--begin: Title-->
														<div class="d-flex flex-column mr-auto">
															<a href="#" class="text-dark text-hover-primary font-size-h4 font-weight-bolder mb-1">Desenquadramento do MEI</a>
															<span class="text-muted font-weight-bold">Creates Limitless possibilities</span>
														</div>
														<!--end::Title-->
													</div>
													<!--end::Info-->
												</div>
												<!--end::Info-->
												<!--begin::Description-->
												<div class="mb-10 mt-5 font-weight-bold">I distinguish three main text objectives.First, your objective could be merely to inform people.</div>
												<!--end::Description-->
											</div>
											<!--end::Body-->
											<!--begin::Footer-->
											<div class="card-footer d-flex align-items-sm-center flex-wrap flex-column flex-sm-row">
												<button class="btn btn-success btn-shadow-hover font-weight-bolder w-100 py-3">Contratar</button>
											</div>
											<!--end::Footer-->
										</div>
										<!--end:: Card-->
									</div>
								</div>
								<!--end::Row-->
							<!--begin::Row-->
								<div class="row">
									<div class="col-xl-4">
										<!--begin::Card-->
										<div class="card card-custom gutter-b card-stretch">
											<!--begin::Body-->
											<div class="card-body">
												<!--begin::Info-->
												<div class="d-flex align-items-center">
													<!--begin::Pic-->
													<div class="flex-shrink-0 mr-4 symbol symbol-60 symbol-circle">
														<i class="flaticon-exclamation-1 icon-3x"></i>
													</div>
													<!--end::Pic-->
													<!--begin::Info-->
													<div class="d-flex flex-column mr-auto">
														<!--begin: Title-->
														<div class="d-flex flex-column mr-auto">
															<a href="#" class="text-dark text-hover-primary font-size-h4 font-weight-bolder mb-1">DSPJ</a>
															<span class="text-muted font-weight-bold">Creates Limitless possibilities</span>
														</div>
														<!--end::Title-->
													</div>
													<!--end::Info-->
												
												</div>
												<!--end::Info-->
												<!--begin::Description-->
												<div class="mb-10 mt-5 font-weight-bold">I distinguish three main text objectives.First, your objective could be merely to inform people.A second be to persuade people.</div>
												<!--end::Description-->
												</div>
											<!--end::Body-->
											<!--begin::Footer-->
											<div class="card-footer d-flex align-items-sm-center flex-wrap flex-column flex-sm-row">
												<button class="btn btn-success btn-shadow-hover font-weight-bolder w-100 py-3">Contratar</button>
											</div>
											<!--end::Footer-->
										</div>
										<!--end:: Card-->
									</div>
									<div class="col-xl-4">
										<!--begin::Card-->
										<div class="card card-custom gutter-b card-stretch">
											<!--begin::Body-->
											<div class="card-body">
												<!--begin::Info-->
												<div class="d-flex align-items-center">
													<!--begin::Pic-->
													<div class="flex-shrink-0 mr-4 symbol symbol-60 symbol-circle">
														<i class="flaticon-exclamation-1 icon-3x"></i>
													</div>
													<!--end::Pic-->
													<!--begin::Info-->
													<div class="d-flex flex-column mr-auto">
														<!--begin: Title-->
														<div class="d-flex flex-column mr-auto">
															<a href="#" class="text-dark text-hover-primary font-size-h4 font-weight-bolder mb-1">Recalculo do FGTS</a>
															<span class="text-muted font-weight-bold">R$250,00</span>
														</div>
														<!--end::Title-->
													</div>
													<!--end::Info-->

												</div>
												<!--end::Info-->
												<!--begin::Description-->
												<div class="mb-10 mt-5 font-weight-bold">I distinguish three main text objectives.First, your objective could be merely to inform people.</div>
												<!--end::Description-->
											</div>
											<!--end::Body-->
											<!--begin::Footer-->
											<div class="card-footer d-flex align-items-sm-center flex-wrap flex-column flex-sm-row">
												<button class="btn btn-success btn-shadow-hover font-weight-bolder w-100 py-3">Contratar</button>
											</div>
											<!--end::Footer-->
										</div>
										<!--end:: Card-->
									</div>
									<div class="col-xl-4">
										<!--begin::Card-->
										<div class="card card-custom gutter-b card-stretch">
											<!--begin::Body-->
											<div class="card-body">
												<!--begin::Info-->
												<div class="d-flex align-items-center">
													<!--begin::Pic-->
													<div class="flex-shrink-0 mr-4 symbol symbol-60 symbol-circle">
														<i class="flaticon-exclamation-1 icon-3x"></i>
													</div>
													<!--end::Pic-->
													<!--begin::Info-->
													<div class="d-flex flex-column mr-auto">
														<!--begin: Title-->
														<div class="d-flex flex-column mr-auto">
															<a href="#" class="text-dark text-hover-primary font-size-h4 font-weight-bolder mb-1">Declaração SIMEI</a>
															<span class="text-muted font-weight-bold">Creates Limitless possibilities</span>
														</div>
														<!--end::Title-->
													</div>
													<!--end::Info-->
												</div>
												<!--end::Info-->
												<!--begin::Description-->
												<div class="mb-10 mt-5 font-weight-bold">I distinguish three main text objectives.First, your objective could be merely to inform people.</div>
												<!--end::Description-->
											</div>
											<!--end::Body-->
											<!--begin::Footer-->
											<div class="card-footer d-flex align-items-sm-center flex-wrap flex-column flex-sm-row">
												<button class="btn btn-success btn-shadow-hover font-weight-bolder w-100 py-3">Contratar</button>
											</div>
											<!--end::Footer-->
										</div>
										<!--end:: Card-->
									</div>
								</div>
								<!--end::Row-->
								<!--begin::Pagination-->

								<!--end::Pagination-->
					</div>			</div>
						</div>
					<!--end::Content-->
					<!--begin::Footer-->
					<div class="footer bg-white py-4 d-flex flex-lg-column" id="kt_footer">
						<!--begin::Container-->
						<div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
							<!--begin::Copyright-->
							<div class="text-dark order-2 order-md-1">
								<span class="text-muted font-weight-bold mr-2">2020©</span>
								<a href="https://dioramanegocios.com.br" target="_blank" class="text-dark-75 text-hover-primary">Diorama Contabilidade</a>
							</div>
							<!--end::Copyright-->
							<!--begin::Nav-->
							<div class="nav nav-dark order-1 order-md-2">
								<a href="https://dioramanegocios.com.br" target="_blank" class="nav-link pr-3 pl-0">Sobre</a>
								<a href="https://dioramanegocios.com.br" target="_blank" class="nav-link px-3">Team</a>
								<a href="https://dioramanegocios.com.br/contato-suporte/" target="_blank" class="nav-link pl-3 pr-0">Contato</a>
							</div>
							<!--end::Nav-->
						</div>
						<!--end::Container-->
					</div>
					<!--end::Footer-->
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Main-->
	{% include 'model-sidebar.html' %}
		<!--begin::Scrolltop-->
		<div id="kt_scrolltop" class="scrolltop">
			<span class="svg-icon">
				<!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Up-2.svg-->
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
					<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<polygon points="0 0 24 0 24 24 0 24" />
						<rect fill="#000000" opacity="0.3" x="11" y="10" width="2" height="10" rx="1" />
						<path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero" />
					</g>
				</svg>
				<!--end::Svg Icon-->
			</span>
		</div>
		<!--end::Scrolltop-->

	<!--begin::Global Config(global config for global JS scripts)-->

		<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#0BB783", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#D7F9EF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
		<!--end::Global Config-->
		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="{% static 'js/plugins.bundle.js' %}"></script>
		<script src="{% static 'js/prismjs.bundle.js' %}"></script>
		<script src="{% static 'js/scripts.bundle.js' %}"></script>
		<!--end::Global Theme Bundle-->
		<!--begin::Page Scripts(used by this page)-->
		<script src="{% static 'js/widgets.js' %}"></script>
		<!--end::Page Scripts-->
	</body>
	<!--end::Body-->
</html>