{% load static %}

<html lang="pt-br">

	<!--begin::Head-->
	{% include 'model-head.html' %}
	<!--end::Head-->

	<!--begin::Body-->
	<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled page-loading">
	{% include 'model-nav.html' %}
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
	<!--begin::Subheader-->
	<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
		<div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
			<!--begin::Info-->
			<div class="d-flex align-items-center flex-wrap mr-1">
				<!--begin::Page Heading-->
				<div class="d-flex align-items-baseline flex-wrap mr-5">
					<!--begin::Page Title-->
					<h5 class="text-dark font-weight-bold my-1 mr-5">Faturas</h5>
					<!--end::Page Title-->
					<!--begin::Breadcrumb-->
					<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
						<li class="breadcrumb-item">
							<a href="{% url 'url-index' %}" class="text-muted">Home</a>
						</li>
						<li class="breadcrumb-item text-muted"><a href="{% url 'url-faturas' %}" class="text-muted">Faturas</a>
						</li>
					</ul>
					<!--end::Breadcrumb-->
				</div>
				<!--end::Page Heading-->
			</div>
			<!--end::Info-->
		</div>
	</div>
	<!--end::Subheader-->
	<!--begin::Entry-->
	<div class="d-flex flex-column-fluid">
		<!--begin::Container-->
		<div class="container">
		<!--begin::Card-->
		<div class="card card-custom">
		   <div class="card-header">
				<div class="card-title">
					<h3 class="card-label"></h3>
				</div>
		   </div>
							<div class="card-body">
							
<ul class="nav nav-tabs nav-tabs-line">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">Pendentes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_2">Pagas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_3">Canceladas</a>
    </li>
</ul>
<div class="tab-content mt-5" id="myTabContent">
    <div class="tab-pane fade show active" id="kt_tab_pane_1" role="tabpanel" aria-labelledby="kt_tab_pane_2">
									<!--begin::Card-->
										<div class="card card-custom gutter-b">
											<div class="card-header">
											<div class="card-body">
												<!--begin::Example-->
												<div class="example mb-10">
													<div class="example-preview">
														<table class="table table-hover mb-6">
															<thead>
																<tr>
																	<th scope="col">#</th>
																	<th scope="col">Vencimento</th>
																	<th scope="col">Valor Total</th>
																	<th scope="col">Ação</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<th scope="row">18943255</th>
																	<td>30/09/2021</td>
																	<td>R$269,88</td>
															<!--begin::SELECT-->
																	<td><div class="form-group">
														<select class="form-control" id="exampleSelect1">
															<option>Forma de Pagamento</option>
															<option>PagSeguro</option>
															<option>Boleto</option>
															<option>Cartão de Crédito</option>
														</select>
													</div></td><!--end::SELECT-->
																</tr>


																<tr>
																	<th scope="row">48943255</th>
																	<td>10/09/2021</td>
																	<td>R$769,88</td>
																	<!--begin::SELECT-->
																	<td><div class="form-group">
														<select class="form-control" id="exampleSelect1">
															<option>Forma de Pagamento</option>
															<option>PagSeguro</option>
															<option>Boleto</option>
															<option>Cartão de Crédito</option>
														</select>
													</div></td><!--end::SELECT--></td>
																</tr>
																<tr>
																	<th scope="row">88943255</th>
																	<td>04/09/2021</td>
																	<td>R$169,88</td>
																	<!--begin::SELECT-->
																	<td><div class="form-group">
														<select class="form-control" id="exampleSelect1">
															<option>Forma de Pagamento</option>
															<option>PagSeguro</option>
															<option>Boleto</option>
															<option>Cartão de Crédito</option>
														</select>
													</div></td><!--end::SELECT--></td>
																</tr>
															</tbody>
														</table>
													</div>
											</div>
										</div></div>
										<!--end::Card-->
</div>
</div>
    <div class="tab-pane fade" id="kt_tab_pane_2" role="tabpanel" aria-labelledby="kt_tab_pane_2">
									<!--begin::Card-->
										<div class="card card-custom gutter-b">
											<div class="card-header">
											<div class="card-body">
												<!--begin::Example-->
												<div class="example mb-10">
													<div class="example-preview">
														<table class="table table-hover mb-6">
															<thead>
																<tr>
																	<th scope="col">#</th>
																	<th scope="col">Vencimento</th>
																	<th scope="col">Valor Total</th>
																	<th scope="col">Status</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<th scope="row">34943255</th>
																	<td>30/09/2021</td>
																	<td>R$469,88</td>
															                <td>
																		<span class="label label-inline label-light-success font-weight-bold">Pago</span>
																	</td>
																</tr>


																<tr>
																	<th scope="row">22943255</th>
																	<td>10/09/2021</td>
																	<td>R$169,88</td>
																	<td>
																		<span class="label label-inline label-light-success font-weight-bold">Pago</span>
																	</td>
																</tr>
																<tr>
																	<th scope="row">78943855</th>
																	<td>04/09/2021</td>
																	<td>R$969,88</td>
																	<td>
																		<span class="label label-inline label-light-success font-weight-bold">Pago</span>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
											</div>
										</div></div>
										<!--end::Card-->
</div>
										</div>
    <div class="tab-pane fade" id="kt_tab_pane_3" role="tabpanel" aria-labelledby="kt_tab_pane_3"><!--begin::Card-->
										<div class="card card-custom gutter-b">
											<div class="card-header">
											<div class="card-body">
												<!--begin::Example-->
												<div class="example mb-10">
													<div class="example-preview">
														<table class="table table-hover mb-6">
															<thead>
																<tr>
																	<th scope="col">#</th>
																	<th scope="col">Vencimento</th>
																	<th scope="col">Valor Total</th>
																	<th scope="col">Status</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<th scope="row">87943255</th>
																	<td>30/09/2021</td>
																	<td>R$200,88</td>
															                <td>
																		<span class="label label-inline label-secondary font-weight-bold">Cancelado</span>
																	</td>
																</tr>


																<tr>
																	<th scope="row">69943255</th>
																	<td>10/09/2021</td>
																	<td>R$100,88</td>
																	<td>
																		<span class="label label-inline label-secondary font-weight-bold">Cancelado</span>
																	</td>
																</tr>
																<tr>
																	<th scope="row">11943855</th>
																	<td>04/09/2021</td>
																	<td>R$30,88</td>
																	<td>
																		<span class="label label-inline label-secondary font-weight-bold">Cancelado</span>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
											</div>
										</div></div>
										<!--end::Card-->
</div>

   </div>
</div>
						</div>		
					</div>
</div>
								</div>
							</div>
						</div>
					</div>
					<!--begin::Footer-->
					<div class="footer bg-white py-4 d-flex flex-lg-column" id="kt_footer">
						<!--begin::Container-->
						<div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
							<!--begin::Copyright-->
							<div class="text-dark order-2 order-md-1">
								<span class="text-muted font-weight-bold mr-2">2020©</span>
								<a href="https://dioramanegocios.com.br" target="_blank" class="text-dark-75 text-hover-primary">Diorama Contabilidade</a>
							</div>
							<!--end::Copyright-->
							<!--begin::Nav-->
							<div class="nav nav-dark order-1 order-md-2">
								<a href="https://dioramanegocios.com.br" target="_blank" class="nav-link pr-3 pl-0">Sobre</a>
								<a href="https://dioramanegocios.com.br" target="_blank" class="nav-link px-3">Team</a>
								<a href="https://dioramanegocios.com.br/contato-suporte/" target="_blank" class="nav-link pl-3 pr-0">Contato</a>
							</div>
							<!--end::Nav-->
						</div>
						<!--end::Container-->
					</div>
					<!--end::Footer-->
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Main-->

		<!--begin::Scrolltop-->
		<div id="kt_scrolltop" class="scrolltop">
			<span class="svg-icon">
				<!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Up-2.svg-->
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
					<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<polygon points="0 0 24 0 24 24 0 24" />
						<rect fill="#000000" opacity="0.3" x="11" y="10" width="2" height="10" rx="1" />
						<path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero" />
					</g>
				</svg>
				<!--end::Svg Icon-->
			</span>
		</div>
		<!--end::Scrolltop-->

	<!--begin::Global Config(global config for global JS scripts)-->
{% include 'model-sidebar.html' %}
		<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#0BB783", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#D7F9EF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
		<!--end::Global Config-->
		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="{% static 'js/plugins.bundle.js' %}"></script>
		<script src="{% static 'js/prismjs.bundle.js' %}"></script>
		<script src="{% static 'js/scripts.bundle.js' %}"></script>
		<!--end::Global Theme Bundle-->
		<!--begin::Page Scripts(used by this page)-->
		<script src="{% static 'js/widgets.js' %}"></script>
		<!--end::Page Scripts-->
	</body>
	<!--end::Body-->
</html>