{% load bootstrap4 %}
{% load static %}


<html lang="pt-br">

	<!--begin::Head-->
	{% include 'model-head.html' %}
	<!--end::Head-->

	<!--begin::Body-->
	<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled page-loading">
					{% include 'model-nav.html' %}		<!--begin::Content-->
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Subheader-->
						<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
							<div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
								<!--begin::Info-->
								<div class="d-flex align-items-center flex-wrap mr-1">
									<!--begin::Page Heading-->
									<div class="d-flex align-items-baseline flex-wrap mr-5">
										<!--begin::Page Title-->
										<h5 class="text-dark font-weight-bold my-1 mr-5">Minha Conta</h5>
										<!--end::Page Title-->
										<!--begin::Breadcrumb-->
										<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
											<li class="breadcrumb-item">
												<a href="{% url 'url-index' %}" class="text-muted">Home</a>
											</li>
											<li class="breadcrumb-item">
												<a href="" class="text-muted">Minha Conta</a>
											</li>
										</ul>
										<!--end::Breadcrumb-->
									</div>
									<!--end::Page Heading-->
								</div>
								<!--end::Info-->
							</div>
						</div>
						<!--end::Subheader-->
						<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container">
												<!--begin::Card-->
								<div class="card card-custom gutter-b">
									<div class="card-body">
										<!--begin::Top-->
										<div class="d-flex">
											<!--begin::Pic-->
											<div class="flex-shrink-0 mr-7">
												<div class="symbol symbol-50 symbol-lg-120">
													<img alt="Pic" src="{% static 'images/blank.png' %}" />
												</div>
											</div>
											<!--end::Pic-->
											<!--begin: Info-->
											<div class="flex-grow-1">
												<!--begin::Title-->
												<div class="d-flex align-items-center justify-content-between flex-wrap mt-2">
													<!--begin::User-->
													<div class="mr-3">
														<!--begin::Name-->
														<span href="#" class="d-flex align-items-center text-dark text-hover-primary font-size-h5 font-weight-bold mr-3">Nome do Usuário: {{ user.first_name }}
														<i class="flaticon2-correct text-success icon-md ml-2"></i></span>
														<!--end::Name-->
														<!--begin::Contacts-->
														<div class="d-flex flex-wrap my-2">
															<span href="#" class="text-muted text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
															<span class="svg-icon svg-icon-md svg-icon-gray-500 mr-1">
																<!--begin::Svg Icon | path:mail-notification.svg-->
																	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">																	<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																		<rect x="0" y="0" width="24" height="24" />
																		<path d="M21,12.0829584 C20.6747915,12.0283988 20.3407122,12 20,12 C16.6862915,12 14,14.6862915 14,18 C14,18.3407122 14.0283988,18.6747915 14.0829584,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,8 C3,6.8954305 3.8954305,6 5,6 L19,6 C20.1045695,6 21,6.8954305 21,8 L21,12.0829584 Z M18.1444251,7.83964668 L12,11.1481833 L5.85557487,7.83964668 C5.4908718,7.6432681 5.03602525,7.77972206 4.83964668,8.14442513 C4.6432681,8.5091282 4.77972206,8.96397475 5.14442513,9.16035332 L11.6444251,12.6603533 C11.8664074,12.7798822 12.1335926,12.7798822 12.3555749,12.6603533 L18.8555749,9.16035332 C19.2202779,8.96397475 19.3567319,8.5091282 19.1603533,8.14442513 C18.9639747,7.77972206 18.5091282,7.6432681 18.1444251,7.83964668 Z" fill="#000000" />
																		<circle fill="#000000" opacity="0.3" cx="19.5" cy="17.5" r="2.5" />
																	</svg>
																<!--end::Svg Icon-->
															</span>{{ user.email }}</span>
															<span href="#" class="text-muted text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
															<span class="svg-icon svg-icon-md svg-icon-gray-500 mr-1">
																<!--begin::Svg Icon | path:assets/media/svg/icons/General/Lock.svg-->
																<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																	<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																		<mask fill="white">
																			<use xlink:href="#path-1" />
																		</mask>
																		<g />
																		<path d="M7,10 L7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 L17,10 L18,10 C19.1045695,10 20,10.8954305 20,12 L20,18 C20,19.1045695 19.1045695,20 18,20 L6,20 C4.8954305,20 4,19.1045695 4,18 L4,12 C4,10.8954305 4.8954305,10 6,10 L7,10 Z M12,5 C10.3431458,5 9,6.34314575 9,8 L9,10 L15,10 L15,8 C15,6.34314575 13.6568542,5 12,5 Z" fill="#000000" />
																	</g>
																</svg>
																<!--end::Svg Icon-->

																<!--end::Svg Icon-->
															{% for campo in object_list %}
																</span>Localização: {{ campo.municipio }}</span>
															{% endfor %}
														</div>
														<!--end::Contacts-->
													</div>
													<!--begin::User-->
													<!--begin::Actions-->
													<div class="my-lg-0 my-1">
														<a href="{% url 'url-contato' %}" class="btn btn-sm btn-light-success font-weight-bolder text-uppercase mr-2">Trocar informações</a>
														<a href="http://servicos.receita.fazenda.gov.br/Servicos/cnpjreva/cnpjreva_solicitacao.asp" target="_blank" class="btn btn-sm btn-light-success font-weight-bolder text-uppercase mr-2">Imprimir CNPJ</a>

													</div>
													<!--end::Actions-->
												</div>
												<!--end::Title-->
												<!--begin::Content-->
												<div class="d-flex align-items-center flex-wrap justify-content-between">
													<!--begin::Description-->

													<!--end::Description-->
												</div>
												<!--end::Content-->
											</div>
											<!--end::Info-->
										</div>
										<!--end::Top-->
										<!--begin::Separator-->
										<div class="separator separator-solid my-7"></div>
										<!--end::Separator-->
										<!--begin::Bottom-->
										<div class="d-flex align-items-center flex-wrap">
											<span class="d-flex align-items-center text-dark text-hover-primary font-size-h5 font-weight-bold mr-3"> Empresas Vinculadas</span>
										</div><br>
{% for campo in object_list %}
<div class="accordion accordion-toggle-arrow" id="accordionExample1">
	<div class="card">
		<div class="card-header">
			<div class="card-title" data-toggle="collapse" data-target="#collapseOne1">
				{{ campo.razao_social }}
			</div>
		</div>
		<div id="collapseOne1" class="collapse show" data-parent="#accordionExample1">
			<div class="card-body">
				<div class="row">
								<div class="col-md-12 row form-group">
									<div class="col-md-3">
										<strong>CNPJ:</strong>
										<br />
										{{ campo.cnpj }}
									</div>
									<div class="col-md-3">
										<strong>Nome Fantasia:</strong>
										<br />
										{{ campo.nome_fantasia }}
									</div>
									<div class="col-md-3">
										<strong>Ativa:</strong>
										<br />
										{{ campo.ativo }}
									</div>
									<div class="col-md-3">
										<strong>E-mail:</strong>
										<br />
										<span class="breakWord">{{ campo.usuario.email }}</span>
									</div>
								</div>
								<div class="col-md-12 row form-group">
									<div class="col-md-3 text-container">
										<strong>Endere&#231;o:</strong>
										<br />
										{{ campo.logradouro }}
									</div>
									<div class="col-md-3">
										<strong>Bairro:</strong>
										<br />
										{{ campo.bairro }}
									</div>

									<div class="col-md-3">
										<strong>Complemento:</strong><br/>
										{{ campo.complemento }}
									</div>

									<div class="col-md-3 text-container">
										<strong>Municipio:</strong>
										<br/>

										{{ campo.municipio }}
									</div>
								</div>
								<div class="col-md-12 row form-group">
									<div class="col-md-3">
										<strong>CEP:</strong>
										<br/>
										{{ campo.cep }}
									</div>
									<div class="col-md-3">
										<strong>Atividade:</strong>
										<br/>
										{{ campo.atividade }}
									</div>
									<div class="col-md-3">
										<strong>Inscri&#231;&#227;o Estadual:</strong>
										<br/>
										{{ campo.inscricao_estadual }}
									</div>
									<div class="col-md-3">
										<strong>Inscri&#231;&#227;o Municipal:</strong>
										<br/>
										{{ campo.inscricao_municipal }}
									</div>
								</div>
								<div class="col-md-12 row">
									<div class="col-md-3">
										<strong>C&#243;digo CNAE:</strong>
										<br/>
										{{ campo.cnae }}
									</div>

										<div class="col-md-3">
											<strong>Telefone:</strong>
											<br/>
											{{ campo.fone }}
										</div>

									<div class="col-md-3">
										<strong>Usuários Clientes</strong>
										<br/>
{{ campo.usuario }}

									</div>
								</div>
							</div>
			</div>
		</div>
	</div>

</div>
{% endfor %}
										</div>
										<!--end::Bottom-->
									</div>
								</div>
								<!--end::Card-->
							</div>							
					</div>			</div>
						</div>
					<!--end::Content-->
					<!--begin::Footer-->
					<div class="footer bg-white py-4 d-flex flex-lg-column" id="kt_footer">
						<!--begin::Container-->
						<div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
							<!--begin::Copyright-->
							<div class="text-dark order-2 order-md-1">
								<span class="text-muted font-weight-bold mr-2">2020©</span>
								<a href="https://dioramanegocios.com.br" target="_blank" class="text-dark-75 text-hover-primary">Diorama Contabilidade</a>
							</div>
							<!--end::Copyright-->
							<!--begin::Nav-->
							<div class="nav nav-dark order-1 order-md-2">
								<a href="https://dioramanegocios.com.br" target="_blank" class="nav-link pr-3 pl-0">Sobre</a>
								<a href="https://dioramanegocios.com.br" target="_blank" class="nav-link px-3">Team</a>
								<a href="https://dioramanegocios.com.br/contato-suporte/" target="_blank" class="nav-link pl-3 pr-0">Contato</a>
							</div>
							<!--end::Nav-->
						</div>
						<!--end::Container-->
					</div>
					<!--end::Footer-->
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Main-->
		{% include 'model-sidebar.html' %}
		<!--begin::Scrolltop-->
		<div id="kt_scrolltop" class="scrolltop">
			<span class="svg-icon">
				<!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Up-2.svg-->
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
					<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<polygon points="0 0 24 0 24 24 0 24" />
						<rect fill="#000000" opacity="0.3" x="11" y="10" width="2" height="10" rx="1" />
						<path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero" />
					</g>
				</svg>
				<!--end::Svg Icon-->
			</span>
		</div>
		<!--end::Scrolltop-->

	<!--begin::Global Config(global config for global JS scripts)-->

		<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#0BB783", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#D7F9EF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
		<!--end::Global Config-->
		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="{% static 'js/plugins.bundle.js' %}"></script>
		<script src="{% static 'js/prismjs.bundle.js' %}"></script>
		<script src="{% static 'js/scripts.bundle.js' %}"></script>
		<!--end::Global Theme Bundle-->
		<!--begin::Page Scripts(used by this page)-->
		<script src="{% static 'js/widgets.js' %}"></script>
		<!--end::Page Scripts-->
	</body>
	<!--end::Body-->
</html>