{% load bootstrap4 %}
{% load static %}

<!--begin::Head-->
<head><base href="">
	<meta charset="utf-8" />
	<title>Diorama Contabilidade | Dashboard</title>
	<meta name="description" content="Contabilidade" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="canonical" href="https://dioramanegocios.com.br" />
	<!--begin::Fonts-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
	<!--end::Fonts-->
	<!--begin::Page Vendors Styles(used by this page)-->
	<link href="{% static 'css/flaticon.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css" />
	<!--end::Page Vendors Styles-->
	<!--begin::Global Theme Styles(used by all pages)-->
	<link href="{% static 'css/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/prismjs.bundle.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
	<!--end::Global Theme Styles-->
	<!--end::Layout Themes-->
	<link rel="shortcut icon" href="{% static 'images/icon_512px.png' %}" />
</head>
<!--end::Head-->